{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
    <img src="{% static 'core/images/logo.svg' %}" alt="Logo">
</head>
<body>
    <main>
        <section class="form-container">
            <form method="POST" action="{% url 'create' %}">
                {% csrf_token %}
                <label for="nombre"> Nombre </label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre del proyecto o tarea" required>

                <label for="tipo"> Tipo </label>
                <select id="tipo" name="tipo" required>
                    <option value="" disabled selected>Selecciona el tipo</option>
                    <option value="Proyecto">Proyecto</option>
                    <option value="Tarea">Tarea</option>
                </select>

                <label for="fecha_entrega"> Fecha de entrega </label>
                <input type="date" name="fecha_entrega" id="fecha_entrega" required>

                <label for="descripcion"> Descripcion </label>
                <textarea name="descripcion" id="descripcion" placeholder="Descripcion del proyecto o tarea" required></textarea>

                <button type="submit">CREATE</button>
            </form>
        </section>
    </main>
    <footer>
        <p>MADE BY Carlos Bernardo Gomez Garcia</p>
        <p>Ing. de Software</p>
        <p>UNIVERSIDAD AUTONOMA DE ZACATECAS</p>
    </footer>
</body>
</html>